/* Override Bulma .box sizing */
.tile {
  padding-bottom: 0.5rem;
}

/* Simple light gray Bulma .box's while loading */
.tile--loading {
  background-color: #f6f6f6;
  box-shadow: none;
}

/* Hide any lines over 2 */
.tile__title-wrapper {
  display: block;
  min-height: 4.25rem;
}

.tile__title {
  display: inline-block;
  overflow: hidden;
  max-height: 3.5rem;
}
