/* Adjust for large '+' symbol and show simple light gray Bulma .box */
.tile__add {
  padding-top: 0rem;
  padding-bottom: 1.15rem;
  background-color: hsl(0, 0%, 96%);
  box-shadow: none;
}

.tile__add__title-wrapper {
  display: block;
  min-height: 4rem;
}

.tile__add__title {
  display: inline-block;
  color: hsl(0, 0%, 86%);
  max-height: 4.5rem;
  font-size: 4.5rem;
  overflow: hidden;
}

/* Adjust Bulma .box for a form input inside & show blue border */
a.box.tile__add--form-open {
  padding-top: 1.25rem;
  padding-bottom: 0.75rem;
  background-color: white;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px #3872ff;
}

/* Adjust for medium-large 'Adding...' indicator */
.tile__add--adding {
  padding-top: 1.75rem;
  padding-bottom: 0.25rem;
}

.tile__add__title--adding {
  font-size: 2rem;
}
