@import '../../../style/theme';

.box-tile {
  display: block;
  background-color: $white;
  padding: 1.25rem 1.25rem 0.5rem 1.25rem;
  box-shadow: 0 2px 3px rgba($black, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  border-radius: 5px;
}

a.box-tile:hover, a.tile:focus {
  box-shadow: 0 2px 3px rgba($black, 0.1), 0 0 0 1px $link;
}

a.box-tile:active {
  box-shadow: inset 0 1px 2px rgba($black, 0.2), 0 0 0 1px $link;
}

/* Simple light grey BG while loading */
.box-tile--loading {
  background-color: $light;
  box-shadow: none;
}

/* Hide any lines over 2 */
.box-tile__title-wrapper {
  display: block;
  min-height: 4.25rem;
}

.box-tile__title {
  display: inline-block;
  overflow: hidden;
  max-height: 3.5rem;
  word-break: break-word;
  color: $grey-darker;
  font-size: $size-4;
  font-weight: $weight-light;
  line-height: 1.125;
}

