.title.is-1.user-profile__username--loading {
  display: block;
  padding-top: 0.4rem;
  margin-bottom: 2rem;
  font-size: 3rem;
}

.user-profile__text--loading {
  background-color: #f6f6f6;
  color: #f6f6f6;
}

